<div class="container">
    <div class="sidenav">
        <div class="side-nav-profile">
            <div class="avtar-img">
                <img class="avtar-img" src = "https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1985&q=80" alt=""/>
            </div>
            <div class="side-nav-details">
                <div class="side-nav-name">
                    Mike Mason
                </div>
                <div class="side-nav-mail">
                    iamkiran@gmail.com
                </div>
            </div>
        </div>
        <div class="side-nav-links">
            <ul class="links-list">
                <li><img src="../../../assets/./icons/noun_contact_2984932.svg" class="side-nav-icons">Inbox</li>
                <li><img src="../../../assets/./icons/noun_Star_2986785.svg" class="side-nav-icons">Flagged</li>
                <li><img src="../../../assets/./icons/noun_Box_2466558.svg" class="side-nav-icons">Draft</li>
                <li><img src="../../../assets/./icons/noun_sent_61680.svg" class="side-nav-icons">Send</li>
                <li><img src="../../../assets/./icons/noun_Trash_1526083.svg" class="side-nav-icons">Trash</li>
                <li><img src="../../../assets/./icons/noun_Star_2986785.svg" class="side-nav-icons">More</li>
            </ul>
          
            <!-- <a routerLink="/" routerLinkActive="active"><i class="fa-solid fa-user"></i> Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a> -->
        </div>
        <div class="side-nav-folder">
            <ul class="links-list">
                <li class="folder-tilte">Inbox</li>
                <li><img src="../../../assets/./icons/noun_Folder_1558235.svg" class="side-nav-icons">Office</li>
                <li><img src="../../../assets/./icons/noun_Folder_1558235 (1).svg" class="side-nav-icons">Personal</li>
                <li><img src="../../../assets/./icons/noun_Folder_1558235 (2).svg" class="side-nav-icons">Freelancing</li>
            </ul>
        </div>

        <div class="side-navbar-compose-btn">
            <button class="Compose-btn">Compose</button>
            <div class="Compose-btn-blur"></div>
        </div>



        <!-- <div class="main">
          <button class="menu-toggle" (click)="toggleSidenav()">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <router-outlet></router-outlet>
        </div> -->
    </div>
</div>


