<div class="main">
  <div class="side-nav-section">
    <app-side-navbar class="side-nav-bar"></app-side-navbar>
  </div>
  <div class="right-section">
    <div class="cards-section">
      <div class="cards-section-search">
        <span class="search-icon">
          <i class="fa-regular fa-magnifying-glass"></i>
        </span>
        <input type="text" class="search-input" placeholder="Search">
      </div>
      <div class="cards-list-section">
        <app-cards></app-cards>
        <app-cards></app-cards>
        <app-cards></app-cards>
      </div>
    </div>
    <div class="view-section">
      <div class="view-top">
          <div class="group-section">

              <img src="../assets/icons/Group 25.svg" style="height: 15px;"  alt="">
            
          </div>
          <div class="pagination-icons">
            <img src="../assets/icons/Group 23.svg" style="height: 15px;" alt="">
          </div>
      </div>
      <div class="lower-section">
        <div class="left-part">
          <div class="img-wrapper">
            <img class="img-round" src="../assets/imgPhoto.png" alt="">
          </div>
        </div>
        <div class="right-part">
          <div class="upper-text">
            <p class="name-text color-heading">Sam Miller</p>
            <p class="sub-heading">Portfolio</p>
            <p class="email">sammiller@gmail.com</p>
          </div>
          <p class="date-time">Today 08:45 PM</p>
          <div class="mid-text">
            <p class="emp-name">Hi Mike,</p>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fermentum
              facilisis libero, venenatis
              mattis orci hendrerit eget. Etiam ultrices mollis justo, nec fermentum elit viverra eu. Cras at cursus
              turpis. Nullam magna sem, vulputate quis massa nec, mollis sollicitudin dui. Sed eu massa in arcu pharetra
              posuere. Phasellus maximus neque non ex dapibus fringilla. Praesent nec lacinia enim. Curabitur a dui
              nisl.</p>
          </div>
          <div class="attachment-wrapper">
            <img class="clip_icon" src="../assets/icons/clip_icon.svg" alt="">
            <p class="attachment">Attachment</p>
          </div>
          <div class="image-portion">
            <div class="left-image-portion">
              <img src="../assets/carousal-images/pexels-photo-2923672.png" alt="">
              <img src="../assets/carousal-images/pexels-photo-2977302.png" alt="">

            </div>
            <div class="middle-image-portion">
              <img src="../assets/carousal-images/pexels-photo-2533686.png" alt="">

            </div>
            <div class="right-image-portion">
              <img src="../assets/carousal-images/pexels-photo-2694453.png" alt="">
            </div>
          </div>
          <div class="button-section">
            <button class="main-btn">
              <img class="dwnld-ico" src="../assets//icons/126488.png" />
              Download
            </button>
            <p class="file-size">5.6 mb total</p>
          </div>
          <div class="search-wrapper">
            <div class="search-div">
              <input class="input-field" placeholder="Type Message.."/>
              <div class="ico-wrapper">
                <img src="../assets//icons/clip_icon.svg" alt="" class="ico-1">
                <img src="../assets//icons/1933005.png" alt="" class="ico-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>