<div class="card-container">
    <div class="card-body">
        <div class="card-avtar">
            <img class="avtar-img" src = "https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1985&q=80" alt=""/>
        </div>  
        <div class="card-title">
            <div class="card-name"> 
                <span class="user-name">Manpreet</span>
                <span class="user-date">Monday 6:45 PM</span>
            </div>
            <div class="card-subject">
                <p>SGP Angular Project</p>
            </div>
            <div class="card-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
        </div>
    </div>

</div>